<header class="topbar">

    <a href="../index.html" class="brand">
        <div class="brand-logo">EP</div>

        <div class="brand-title">
            <span>EdgePilot</span>
            <strong>AI</strong>
        </div>
    </a>

    <nav class="navigation">

        <a href="../index.html"
           class="nav-link"
           data-page="dashboard">
            Dashboard
        </a>

        <a href="../pages/simulation.html"
           class="nav-link"
           data-page="simulation">
            Simulation
        </a>

        <a href="../pages/scheduler.html"
           class="nav-link"
           data-page="scheduler">
            Scheduler
        </a>

        <a href="../pages/evaluation.html"
           class="nav-link"
           data-page="evaluation">
            Evaluation
        </a>

    </nav>

    <div class="connection-status">
        <span class="status-dot"></span>
        <span id="connectionText">Backend Connected</span>
    </div>

</header>