<div class="node-list" id="nodeList">

    <div class="node-row">

        <div class="node-main">

            <div class="node-avatar">
                N1
            </div>

            <div>
                <strong>N-01</strong>

                <span class="healthy-text">
                    Healthy
                </span>
            </div>

        </div>

        <div class="node-resource">

            <div class="resource-label">
                <span>CPU</span>
                <span>42%</span>
            </div>

            <div class="progress">
                <span style="width:42%"></span>
            </div>

        </div>

    </div>


    <div class="node-row">

        <div class="node-main">

            <div class="node-avatar">
                N2
            </div>

            <div>
                <strong>N-02</strong>

                <span class="healthy-text">
                    Healthy
                </span>
            </div>

        </div>

        <div class="node-resource">

            <div class="resource-label">
                <span>CPU</span>
                <span>57%</span>
            </div>

            <div class="progress">
                <span style="width:57%"></span>
            </div>

        </div>

    </div>


    <div class="node-row">

        <div class="node-main">

            <div class="node-avatar warning-avatar">
                N3
            </div>

            <div>
                <strong>N-03</strong>

                <span class="warning-text">
                    Warning
                </span>
            </div>

        </div>

        <div class="node-resource">

            <div class="resource-label">
                <span>CPU</span>
                <span>82%</span>
            </div>

            <div class="progress warning-progress">
                <span style="width:82%"></span>
            </div>

        </div>

    </div>


    <div class="node-row">

        <div class="node-main">

            <div class="node-avatar">
                N4
            </div>

            <div>
                <strong>N-04</strong>

                <span class="healthy-text">
                    Healthy
                </span>
            </div>

        </div>

        <div class="node-resource">

            <div class="resource-label">
                <span>CPU</span>
                <span>37%</span>
            </div>

            <div class="progress">
                <span style="width:37%"></span>
            </div>

        </div>

    </div>

</div>