<div class="workload-list" id="workloadList">

    <div class="workload-row">

        <div>
            <strong>W-101</strong>
            <span>Video Analytics</span>
        </div>

        <span class="workload-status running">
            Running
        </span>

        <span>
            N-01
        </span>

    </div>


    <div class="workload-row">

        <div>
            <strong>W-104</strong>
            <span>IoT Processing</span>
        </div>

        <span class="workload-status migrated">
            Migrated
        </span>

        <span>
            N-07
        </span>

    </div>


    <div class="workload-row">

        <div>
            <strong>W-108</strong>
            <span>Edge AI</span>
        </div>

        <span class="workload-status running">
            Running
        </span>

        <span>
            N-04
        </span>

    </div>


    <div class="workload-row">

        <div>
            <strong>W-112</strong>
            <span>Smart Camera</span>
        </div>

        <span class="workload-status running">
            Running
        </span>

        <span>
            N-05
        </span>

    </div>

</div>